@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.5;
    margin:0;
}

a {
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

.row img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.col {
    float: left;
    margin: 0 0.8771929824561403%;
    overflow: hidden;
}

header {
    height: 700px;
    width:100%;
    margin-bottom: 50px;
}

.header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.title-box {
    display: block;
    border-top: 5px solid #DE8DC5; 
    border-bottom: 5px solid #DE8DC5; 
    padding: 10px; 
    width: 100%; 
    background: url('../Pics/pics/header.png');
    color: #ffffff;
    height: 130px;
}

.header {
    position: relative;
    width: 100%;
    height: 200px; 
}

.header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #FBE6EF;
}


.main{
  max-width: 1450px;
  margin-bottom: 100px;
  
}

h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 4.5;
    margin-bottom: 100px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
    color: #fff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    transition: background 0.3s ease-in-out; 
    background-color: #E889AB;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #E889AB;
    font-weight: 700;
    opacity: 0.8;
    border-color: #E889AB;
    border-width: 3px;
  }

.projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 30px;
    padding: 0;
}

.project_items {
    display: flex;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    
}

.project_items:hover {
    transform: scale(1.05); 
  }

.project {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project_content {
    padding: 1rem;
    background:  #fFf;
}

.project_title {
    color: #E889AB;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.project_text {
    color: #E889AB;
    font-size: 0.875rem;
    line-height: 1.5;
     margin-bottom: 1.25rem;    
    font-weight: 400;
}

a {
    text-decoration: none;
}


@media (min-width: 40rem) {
    .project_items {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .project_items {
        width: 33.3333%;
    }
}
